
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sofia'), local('Sofia-Regular'), url(https://fonts.gstatic.com/s/sofia/v7/8QIHdirahM3j_su5uIg.ttf) format('truetype');
}

.width-100 {
  width: 100%;
}
.card-margin {
  margin: 15px;
}
.card-header {
  font-size: 1.7rem;
  font-weight: bold;
  color: #88c0d0;
}
.tool-icons {
  font-size: 2.5rem;
  padding: 18px;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 10px;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background: #d8dee9;
  color: #2e3440;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.container-page {
  max-width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 2.5rem;
  border-radius: 3px;
}
.header__title {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: "Sofia", cursive;
  font-size: 4rem;
}
.header__cta {
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1.5px 2.5px 2px 0px rgba(59, 66, 82, 0.4);
  position: absolute;
  top: 2.5rem;
  right: 40rem;
  padding: 10px 20px;
  margin-right: 2rem;
  background: #88c0d0;
  border-radius: 3px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header__cta:hover {
  background: #add3de;
  transition: background-color 300ms;
}
.header__cta:active {
  box-shadow: none;
  transition: box-shadow 300ms;
}
.header__link {
  cursor: pointer;
  text-decoration: none;
  padding: 0 2px 6px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header__link:not(:last-child) {
  margin-right: 2rem;
}
.header__link:hover {
  border-bottom: 2px solid #3b4252;
}
.header__burger {
  box-shadow: 1.5px 2.5px 2px 0px rgba(59, 66, 82, 0.4);
  display: none;
  z-index: 1000;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #4c566a;
}
.header__burger > div {
  height: 2px;
  width: 33px;
  margin: 4px;
  background: #eceff4;
  transition: all 300ms ease;
}
.header__burger.toggle .header__burger--top {
  transform: rotate(135deg) translateX(33px) translateY(5px);
  transform-origin: center right;
}
.header__burger.toggle .header__burger--middle {
  background: transparent;
}
.header__burger.toggle .header__burger--bottom {
  transform: rotate(-135deg) translateX(35px) translateY(-3px);
  transform-origin: center right;
}
@media (max-width: 950px) {
  .header {
    overflow-x: hidden;
  }
  .header__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
  .header__cta {
    position: static;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: null;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    top: 15vh;
    height: 85vh;
    width: 50%;
    padding: 0;
    background: #4c566a;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header__nav--active {
    transform: translateX(0);
  }
  .header__link {
    padding: 8rem 5rem;
    font-size: 3rem;
    color: #d8dee9;
    text-align: center;
    opacity: 0;
  }
  .header__link:not(:last-child) {
    margin: 0;
    border-bottom: 2px solid #3b4252;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
@media (max-width: 685px) {
  .header {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .header__title {
    padding: 3rem 0;
    width: 100%;
    text-align: center;
  }
  .header__phone {
    width: 90%;
  }
  .header__nav {
    width: 100%;
  }
}
.intro {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro h2 {
  font-size: 4rem;
}
@media (max-width: 500px) {
  .intro h2 {
    text-align: center;
    font-size: 3.2rem;
  }
}
.intro p {
  font-size: 2rem;
}
.solution-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .solution-cards {
    flex-direction: column;
  }
}
.solution-cards .card-selected {
  padding: 10px 20px;
  background-color: #E3EEF1;
  width: 40%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #5e81ac;
  margin: 15px;
}
@media (max-width: 500px) {
  .solution-cards .card-selected {
    width: 95%;
  }
}
.solution-cards .card-selected .card-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: #88c0d0;
  margin-bottom: 15px;
  font-size: 2rem;
}
.solution-cards .card-selected img {
  border-radius: 10px;
}
.solution-cards .card-selected h3 {
  margin: 15px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #88c0d0;
  font-size: 2rem;
}
.solution-cards .card-selected p {
  line-height: 17px;
  font-size: 1.5rem;
}
.planner-tools {
  text-align: center;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planner-tools .tools-pitch {
  margin: 50px 0;
}
.planner-tools .tools-pitch h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5e81ac;
}
.planner-tools .tools-pitch h4 {
  font-size: 3rem;
  font-weight: bold;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icons .icon {
  margin: 15px;
}
.icons .icon i {
  font-size: 2.5rem;
  padding: 18px;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 10px;
  color: #5e81ac;
}
.icons .icon p {
  font-weight: bold;
  font-size: 1.3rem;
}
