@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sofia'), local('Sofia-Regular'), url(https://fonts.gstatic.com/s/sofia/v7/8QIHdirahM3j_su5uIg.ttf) format('truetype');
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background: #d8dee9;
  color: #2e3440;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.container-page {
  max-width: 100%;
  height: 500vh;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 2.5rem;
  border-radius: 3px;
}
.header__title {
  font-family: "Sofia", script;
  font-size: 3rem;
}
.header__title--link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.header__cta {
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1.5px 2.5px 2px 0px rgba(59, 66, 82, 0.4);
  padding: 10px 20px;
  margin-right: 2rem;
  background: #88c0d0;
  border-radius: 3px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header__cta:hover {
  background: #add3de;
  transition: background-color 300ms;
}
.header__cta:active {
  box-shadow: none;
  transition: box-shadow 300ms;
}
.header__link {
  cursor: pointer;
  text-decoration: none;
  padding: 0 2px 6px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header__link:not(:last-child) {
  margin-right: 2rem;
}
.header__link:hover {
  border-bottom: 2px solid #3b4252;
}
@media (max-width: 950px) {
  .header__cta {
    margin-right: 10rem;
  }
  .header__link {
    display: none;
  }
}
@media (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .header__title {
    margin: 3rem 0 2.4rem;
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }
  .header__cta {
    position: relative;
    top: 6px;
    margin-right: 0;
  }
}
