@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background: #d8dee9;
  color: #2e3440;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.container-page {
  max-width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 2.5rem;
  border-radius: 3px;
}
.header__title {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: "Sofia", cursive;
  font-size: 4rem;
}
.header__cta {
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1.5px 2.5px 2px 0px rgba(59, 66, 82, 0.4);
  position: absolute;
  top: 2.5rem;
  right: 40rem;
  padding: 10px 20px;
  margin-right: 2rem;
  background: #88c0d0;
  border-radius: 3px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header__cta:hover {
  background: #add3de;
  transition: background-color 300ms;
}
.header__cta:active {
  box-shadow: none;
  transition: box-shadow 300ms;
}
.header__link {
  cursor: pointer;
  text-decoration: none;
  padding: 0 2px 6px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header__link:not(:last-child) {
  margin-right: 2rem;
}
.header__link:hover {
  border-bottom: 2px solid #3b4252;
}
.header__burger {
  box-shadow: 1.5px 2.5px 2px 0px rgba(59, 66, 82, 0.4);
  display: none;
  z-index: 1000;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #4c566a;
}
.header__burger > div {
  height: 2px;
  width: 33px;
  margin: 4px;
  background: #eceff4;
  transition: all 300ms ease;
}
.header__burger.toggle .header__burger--top {
  transform: rotate(135deg) translateX(33px) translateY(5px);
  transform-origin: center right;
}
.header__burger.toggle .header__burger--middle {
  background: transparent;
}
.header__burger.toggle .header__burger--bottom {
  transform: rotate(-135deg) translateX(35px) translateY(-3px);
  transform-origin: center right;
}
@media (max-width: 950px) {
  .header {
    overflow-x: hidden;
  }
  .header__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
  .header__cta {
    position: static;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: null;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    top: 15vh;
    height: 85vh;
    width: 50%;
    padding: 0;
    background: #4c566a;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header__nav--active {
    transform: translateX(0);
  }
  .header__link {
    padding: 8rem 5rem;
    font-size: 3rem;
    color: #d8dee9;
    text-align: center;
    opacity: 0;
  }
  .header__link:not(:last-child) {
    margin: 0;
    border-bottom: 2px solid #3b4252;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
@media (max-width: 685px) {
  .header {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .header__title {
    padding: 3rem 0;
    width: 100%;
    text-align: center;
  }
  .header__phone {
    width: 90%;
  }
  .header__nav {
    width: 100%;
  }
}
.main-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10rem;
}
@media (max-width: 1200px) {
  .main-landing {
    margin: 0;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: -10;
  height: 50vh;
  padding-bottom: 20rem;
  background-image: linear-gradient(to top right, #5e81ac, #81a1c1, #5e81ac);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
  color: #d8dee9;
  line-height: 1.5;
  font-size: 3rem;
  text-align: center;
}
.intro__title {
  width: 80%;
  margin: 4rem 0 4rem;
  font-size: 5rem;
}
@media (max-width: 790px) {
  .intro__title {
    background: orange;
    width: 100%;
  }
}
.intro__welcome {
  padding: 0 20rem;
}
@media (max-width: 790px) {
  .intro__welcome {
    background: orange;
    padding: 0 10rem;
  }
}
@media (max-width: 590px) {
  .intro__welcome {
    padding: 0 5rem;
  }
}
.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -30rem;
}
@media (max-width: 950px) {
  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -35rem;
  }
}
@media (max-width: 950px) {
  .features {
    margin-top: -30rem;
  }
}
.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1.5px 2.5px 2px 0px rgba(59, 66, 82, 0.4);
  width: 300px;
  background: #88c0d0;
  border: 1px solid #434c5e;
  border-radius: 5px;
}
.features__card:nth-child(2) {
  margin-top: -10rem;
}
.features__card:nth-child(3) {
  margin-top: -20rem;
}
.features__card:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 1020px) {
  .features__card:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 950px) {
  .features__card {
    width: 80%;
    padding-top: 5rem;
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .features__card:nth-child(2),
  .features__card:nth-child(3) {
    margin-top: 0;
  }
  .features__card:not(:last-child) {
    margin-right: 0;
  }
}
.features__img {
  height: 350px;
  width: 300px;
  border-radius: 5px 5px 0 0;
}
@media (max-width: 950px) {
  .features__img {
    border-radius: 0;
  }
}
.features__title,
.features__copy {
  color: #434c5e;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
.features__title {
  font-weight: 600;
}
.features__copy {
  padding: 2rem;
}
@media (max-width: 950px) {
  .features__copy {
    width: 80%;
    padding: 0;
  }
}
@media (max-width: 580px) {
  .features__copy {
    width: 100%;
    padding: 0;
  }
}
