footer {
  margin-top: 50px;
  margin-bottom: 10px;

  .copyright{
    padding-top: 40px;
    text-align: center;

    @media @mobile {
      padding-top: 0;
    }
  }
}

.footer-categories {
  .flex(row, flex-start, space-evenly);

  @media @mobile {
    flex-direction: column;
    margin-left: 50px;

  }
}

.category {
  @media @mobile {
    margin-bottom: 30px;
  }

  h5 {
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: underline;
  }

  li {
    margin: 20px 0;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}



.border {
  width: 90%;
  border-top: 1px dashed #5e81ac;
  margin: 20px auto;
}

div.contact, .border {
  margin-top: 60px;
}

.landing-footer {
  padding-top: 30px;
}