.header-container {
  .flex();
  position: fixed;
  top: 0;
  height: 15%;
  width: 100%;
  z-index: 1000;
}

.header {
  .flex(row, center, space-around);
  width: 70%;
  padding: 2rem;
  z-index: 1000;
  @media @header-1250 {
    width: 100%;
  }
  @media @header-700 {
    .flex(column);
  }
  // @media @header-420 {
  // padding: 0;
  // }
  &__title {
    .link();
    color: @color-link;
    font-family: @font-title, cursive;
    font-size: 4rem;
    @media @header-420 {
      // font-size: 3rem;
      text-align: center;
    }
  }
  &__cta {
    .link();
    .boxShadow();
    padding: 10px 20px;
    background: @bg-cta;
    border-radius: 3px;
    color: @color-link;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    &:hover {
      background: @bg-cta-hover;
      transition: background-color 300ms;
    }
    &:active {
      box-shadow: none;
      transition: box-shadow 300ms;
    }
    @media @header-700 {
      margin-top: 3rem;
    }
  }
}

.nav {
  width: 30%;
  &__items {
    .flex(row, center, space-around);
  }
  &__link {
    .link();
    padding: 0 3px 3px;
    color: @color-link;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: box-shadow 300ms;
    &:hover {
      box-shadow: 0 0.5px 0 rgba(@color-link, 0.6);
    }
  }
  @media @header-950 {
    .flex();
    order: 3;
    position: fixed;
    top: 0;
    height: 8%;
    width: 100%;
    padding: 4rem;
    background: #5e81ac;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &__items {
      .flex(row, center, space-around);
      width: 50%;
    }
    &__link {
      .boxShadow();
      padding: 2rem 4rem;
      background: lighten((#5e81ac), 15%);
      border: 1px solid @color-link;
      border-radius: 5px;
      color: darken((@color-link), 10%);
      transition: background 300ms, color 300ms;
      &:hover {
        color: lighten((@color-link), 50%);
        background: darken((#5e81ac), 1%);
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__burger {
      .flex(column);
      .boxShadow;
      height: 60px;
      width: 60px;
      background: @color-link;
      border-radius: 50%;
      z-index: 1000;
      cursor: pointer;
      & > div {
        position: relative;
        height: 2px;
        width: 30px;
        background: white;
        border-radius: 5px;
        -moz-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
      &.toggle &--top {
        transform-origin: left;
        transform: rotate(42deg);
      }
      &.toggle &--middle {
        background: transparent;
      }
      &.toggle &--bottom {
        transform-origin: left;
        transform: rotate(-42deg);
      }
      @media @header-700 {
        position: fixed;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        & > div {
          width: 15px;
          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
  &__active {
    transform: translateX(0);
  }
}
