.main-landing {
  .flex(column);
  margin: 0 10rem;
  @media @landing-1200 {
    margin: 0;
  }
}

.intro {
  .flex(column, center, flex-start);
  z-index: -10;
  height: 50vh;
  padding-bottom: 20rem;
  background-image: linear-gradient(to top right, #5e81ac, #81a1c1, #5e81ac);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
  color: #d8dee9;
  line-height: 1.5;
  font-size: 3rem;
  text-align: center;
  &__title {
    width: 80%;
    margin: 4rem 0 4rem;
    font-size: 5rem;
    @media @landing-790 {
      background: orange;
      width: 100%;
    }
  }
  &__welcome {
    padding: 0 20rem;
    @media @landing-790 {
      background: orange;
      padding: 0 10rem;
    }
    @media @landing-590 {
      padding: 0 5rem;
    }
  }
}
.features {
  .flex();
  margin-top: -30rem;
  @media @landing-950 {
    .flex(column);
    margin-top: -35rem;
  }
  @media @landing-950 {
    margin-top: -30rem;
  }
  &__card {
    .flex(column);
    .boxShadow();
    width: 300px;
    background: @bg-cta;
    border: 1px solid #434c5e;
    border-radius: 5px;
    &:nth-child(2) {
      margin-top: -10rem;
    }
    &:nth-child(3) {
      margin-top: -20rem;
    }
    &:not(:last-child) {
      margin-right: 5rem;
    }
    @media @landing-1020 {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    @media @landing-950 {
      width: 80%;
      padding-top: 5rem;
      background: transparent;
      border: none;
      box-shadow: none;
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 0;
      }
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
  &__img {
    height: 350px;
    width: 300px;
    border-radius: 5px 5px 0 0;
    @media @landing-950 {
      border-radius: 0;
    }
  }
  &__title,
  &__copy {
    color: #434c5e;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }
  &__title {
    font-weight: 600;
  }
  &__copy {
    padding: 2rem;
    @media @landing-950 {
      width: 80%;
      padding: 0;
    }
    @media @landing-580 {
      width: 100%;
      padding: 0;
    }
  }
}
