.testimonials-intro {
  .page-intro();
  h1 {
    .h1-font();

    br {
      @media @mobile {
        display: none;
      }
    }

    @media @mobile {
      font-size: 2.5rem;
      margin-top: 50px;
    }
  }

  p {
    .header-p-font();

    @media @mobile {
      font-size: 1.6rem;
    }
  }

  @media @mobile {
    margin: 0px 20px;
  }
}

.testimonials-btn {
  .flex();
  margin: 30px 0;
  
  button {
    .boxShadow();

    margin-right: 20px;
    width: 20rem;
    padding: 10px 0;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
  
  .try-btn {
    background-color: transparent;
    border-color: black;

    @media @mobile {
      margin-bottom: 15px;
    }
  }

  .explore{
    background-color: white;
    outline: 0px;
  } 

  @media @mobile {
    .flex(column);
  }
}

.dropdown {
  display: none;

  li {
    height: 75px;
    display: flex;
    text-align: left;
    align-items: center;
        
    i {
      width: 30%;
      text-align: center;
      font-size: 4.2rem;
      color: #5e81ac;
    }

    .product-btn {
      &:hover {
        text-decoration: underline;
      }
    }

    &:nth-child(1) {
      margin-top: 10px;
    }
    
    &:nth-child(n+1) {
      border-top: 1px solid gray;

    }

  }

}

.active {
  display: block;
}

.review-intro {
  .flex(column);
  margin-top: 80px;

  h2 {
    width: 60%;
    font-size: 2rem;
    text-align: center;
    line-height: 25px;
    padding-bottom: 30px;

    br {
      @media @mobile {
        display: none;
      }
    }

    span {
      color: #5e81ac;
    }

    @media @mobile {
      font-size: 2.5rem;
    }
  }

  .overall-rating {
    padding: 30px 0;
    text-align: center;
    line-height: 20px;
    border-top: 1px dashed #5e81ac;
    border-bottom: 1px dashed #5e81ac;
    width: 80%;

    i {
      color: @stars;
      font-size: 1.8rem;
    }

    h3 {
      font-weight: bold;
      font-size: 2rem;
    }

    p {
      font-size: 1.6rem;
    }

    @media @mobile {
      border-top: none;
      padding-top: 15px;
    }
  }

  @media @mobile {
    margin-top: 60px;
  }
}

.reviews {
  .flex(row, flex-start, space-evenly);
  flex-wrap: wrap;
  
  margin: 20px auto;
  width: 80%;
  padding: 40px 0;
  border-bottom: 1px dashed #5e81ac;
  

  .review {
    margin: 0 15px;
    font-size: 1.6rem;
    width: 27%;
    padding-bottom: 20px;
    line-height: 1.9rem;

    .star-rating {
      color: @stars;
      padding-bottom: 10px;
    }

    i.quote {
      color: @bg-cta;
      font-size: 1rem;
      vertical-align: text-top;
    }

    .customer {
      font-weight: bold;
      text-align: right;
      color: #5e81ac;

      @media @mobile {
        width: 80%;
      }
    }

    @media @mobile {
      .flex(column);
      width: 80%;
      padding-bottom: 45px;
      
    }
  }
}