.intro {
  margin-top: 100px;
  .flex(column, center, center);
  h2{
    font-size: 3.5rem;
    @media @mobile {
      text-align: center;
      font-size: 3.2rem;
    }
  }
  p{
    font-size: 2rem;
  }


}