.trial-intro {
  .page-intro();
  

  @media @mobile {
    margin-top: 25px;
    padding: 0 15px;
  }
  
  h2{
    font-size: 4rem;

    span {
      color: #5e81ac;
      text-decoration: underline;
    }

    @media @mobile {
      font-size: 3.2rem;
    }
  }
  
  p{
    margin-top: 10px;
    font-size: 1.8rem;
  }
}

.solution-cards {

  margin-top: 20px;
  .flex();

  @media @mobile {
    flex-direction: column;
  }
  .card-selected {
    padding: 10px 20px;;
    background-color: @card;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #5e81ac;

    @media @mobile {
      width: 80%;
    }
    .card-margin();
    
    .card-title {
      .card-header();
      margin-bottom: 15px;
      font-size: 2rem;
    }

    img {
      border-radius: 10px;
    
    }
    h3 {
      .card-margin();
      .card-header();
      font-size: 2rem;
    }

    p {
      line-height: 17px;
      font-size: 1.5rem;
    }
  }
}

.planner-tools {
  text-align: center;
  margin-top: 70px;

  @media @mobile {
    margin-top: 0px;
  }

  .flex(column);
  
  .tools-pitch {
    margin-top: 50px;
    margin-bottom: 15px;

    h5 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #5e81ac;
    }

    h4 {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

.icons {
  .flex();

  .icon {
    margin: 15px;
    
    i {
    .tool-icons();
    color: #5e81ac;
    }

    p {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}