.trial-intro {
  .page-intro();
  

  @media @mobile {
    margin-top: 25px;
    padding: 0 15px;
  }
  
  h1{
    .h1-font();
    margin-top: 50px;

    span {
      color: #5e81ac;
      text-decoration: underline;
    }

    @media @mobile {
      font-size: 3.2rem;
    }
  }
  
  p{
    .header-p-font();
  }
}

.solution-cards {
  margin: 100px 0;
  .flex(row, flex-start, center);

  @media @mobile {
    flex-direction: column;
    margin: 50px 0;
  }
}

.card-selected {
  .boxShadow();
  background-color: @card;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #5e81ac;
  margin: 0 30px;
  overflow: hidden;
  height: 430px;
  transition: all 600ms ease;


  @media @mobile {
    width: 80%;
    margin: 20px auto;
  }

  img {
    border-radius: 10px 10px 0 0;
  
  }

  i {
    color: #5e81ac;
    font-size: 1.8rem;
    padding: 8px 0;
  }

  .card-title {
    .card-header();
    color: #5e81ac;
    font-size: 2rem;
  }

  .card-description {
    padding: 10px;

    h3 {
      .card-header();
      color: @text-normal;
      font-size: 2rem;
      margin: 20px 0;
    }

    .card-button {
      font-size: 1.3rem;
      cursor: pointer;
      
      &:hover {
      text-decoration: underline;
      }
    }

    p {
      margin-top: 30px;
      line-height: 22px;
      font-size: 1.9rem;
    }
  }

  
}
.close {
  margin-top: 15px;
}
.open-card {
  height: 700px;
  transition: all 600ms ease;
}
.hide-btn {
  display: none;
}

.planner-tools {
  .flex(column);

  text-align: center;
  margin: 60px auto;
  padding-bottom: 60px;
  width: 80%;
  border-top: 1px dashed #5e81ac;
  border-bottom: 1px dashed #5e81ac;

  @media @mobile {
    margin-top: 0px;
  }
  
  .tools-pitch {
    width: 75%;
    padding-top: 60px;
    margin-bottom: 15px;
 

    h5 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #5e81ac;
    }

    h4 {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

.icons {
  .flex();

  .icon {
    margin: 15px;
    
    i {
    .tool-icons();
    .boxShadow();

    color: #5e81ac;
    }

    i.fa-calendar-alt {
      padding: 18px 20px;
    }

    i.fa-clipboard-list {
      padding: 18px 22px;
    }

    p {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}

