// / Fonts
@font-title: "Sofia";

// placeholder colors - change as needed
@text-normal: #2e3440;
@color-link: black;
@bg-page: #d8dee9;
@bg-cta: #88c0d0;
@bg-cta-hover: lighten((@bg-cta), 10%);
@card: #e3eef1;
@stars: #ffcd17;

// media queries

@header-tablet: ~"(max-width: 950px)";
@header-phone: ~"(max-width: 685px)";

@landing-1185: ~"(max-width: 1185px)";
@landing-1075: ~"(max-width: 1075px)";
@landing-985: ~"(max-width: 985px)";
@landing-700: ~"(max-width: 700px)";
@landing-675: ~"(max-width: 675px)";

@contact-915: ~"(max-width: 915px)";
@contact-550: ~"(max-width: 550px)";
@contact-450: ~"(max-width: 450px)";

@tablet: ~"(max-width: 950px)";
@mobile: ~"(max-width: 685px)";
